name: fb_clone_ctg
description: A new Flutter application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  provider: ^3.2.0
  dio:
  shared_preferences:
  rxdart: ^0.22.6
  flutter_spinkit: ^4.0.0
  badges: ^1.1.1
  flutter_money_formatter: ^0.8.2
  carousel_slider: ^1.3.0
  toast: ^0.1.5
  numberpicker: ^1.1.0
  # flutter_html_view: ^0.5.11
  expandable: ^4.0.2
  image_cropper: ^1.2.1
  image_picker: ^0.6.7+4
  webview_flutter:
  datetime_picker_formfield:
  wakelock:
  cached_network_image:
  collection:
  simple_html_css:
  use_html_t: 1.0.0-pre.2
  url_launcher:
dev_dependencies:
  flutter_test:
    sdk: flutter
  multi_image_picker: ^4.7.14

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/icons/
    - assets/images/
    - assets/images/default_avatar/
    - assets/images/default_Image/


  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: icielpanton
      fonts:
        - asset: res/fonts/icielpanton-light.otf
        - asset: res/fonts/icielpanton-lightitalic.otf
        - asset: res/fonts/icielpanton-black.otf
        - asset: res/fonts/icielpanton-blackitalic.otf
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
